<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka_kr4_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kuka_kr4_description urdf file -->
    <xacro:include filename="$(find kuka_kr4_description)/urdf/kuka_kr4_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="kuka_kr4_description.ros2_control.xacro" />


    <xacro:kuka_kr4_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
